<!DOCTYPE html>
<html>
	<head>
		<title>tpg offline API</title>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<style type="text/css">
			#logo {
				height: 200px;
				border-radius: 100px;
				box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.2),
					0 6px 20px 0 rgba(0, 0, 0, 0.19);
			}
			#sidebar {
				background-color: #ff5722;
				color: white;
				width: 25%;
				height: 100vh;
				position: fixed;
				padding: 3em;
			}
			#sidebar h1 {
				margin-bottom: 1em;
			}
			#sidebar a {
				color: white;
			}
			#content {
				height: 100vh;
				padding: 3em;
				width: 75%;
				margin-left: 25%;
			}

			#content > * {
				padding-bottom: 3em;
			}

			@media (max-width: 767.98px) {
				#sidebar h1 {
					margin-bottom: 0.5em;
				}
				#sidebar {
					width: 100%;
					height: auto;
					padding: 3em;
					position: static;
				}
				#content {
					height: auto;
					padding: 2em;
					width: 100%;
					margin-left: 0%;
				}
			}
		</style>
	</head>
	<body>
		<div>
			<div>
				<div id="sidebar">
					<h1>tpg offline API</h1>
					<h4><a href="#departs">Départs</a></h4>
					<h4><a href="#perturbations">Perturbations</a></h4>
					<h4><a href="#itineraires">Itinéraires</a></h4>
				</div>
				<div id="content">
					<div id="departs">
						<h1>Départs</h1>
						<p>Liste les départs à un arrêt du réseau tpg</p>
						<hr />
						<p>
							<span class="badge badge-success">GET</span>
							<a
								href="https://api.tpgoffline.com/v2/departures/&lt;stopCode&gt;"
								>/v2/departures/&lt;stopCode&gt;</a
							>
						</p>
						<p><strong>Entrée :</strong></p>
						<ul>
							<li>
								<strong>key</strong>: Clé d'autorisation d'accès
								à l'API tpg. Vous pouvez la demander sur
								<a href="http://data.tpg.ch">data.tpg.ch</a>
							</li>
							<li>
								<strong>stopCode</strong>: Code de l'arrêt
								(Exemple : CVIN, BAIR, PRBE, ...)
							</li>
						</ul>
						<p><strong>Sortie :</strong> Au format JSON</p>
						<ul>
							<li>
								<strong>line</strong>
								<ul>
									<li>
										<span
											class="badge badge-pill badge-info"
											>string</span
										>
										<strong>lineCode</strong>: Nom de la
										ligne
									</li>
									<li>
										<span
											class="badge badge-pill badge-info"
											>string</span
										>
										<strong>destinationName</strong>: Nom de
										la destination
									</li>
									<li>
										<span
											class="badge badge-pill badge-info"
											>string</span
										>
										<strong>destinationCode</strong>: Code
										de la destination
									</li>
								</ul>
							</li>
							<li>
								<span class="badge badge-pill badge-primary"
									>int</span
								>
								<strong>departureCode</strong>: Code de départ,
								vaut -1 si la valeur est indisponible
							</li>
							<li>
								<span class="badge badge-pill badge-info"
									>string</span
								>
								<strong>leftTime</strong>: Temps restant avant
								le départ
							</li>
							<li>
								<span class="badge badge-pill badge-warning"
									>datetime</span
								>
								<strong>timestamp</strong>: Temps restant avant
								le départ au format
								<a href="https://fr.wikipedia.org/wiki/ISO_8601"
									>ISO 8601</a
								>
							</li>
							<li>
								<span class="badge badge-pill badge-primary"
									>int</span
								>
								<strong>vehiculeNo</strong>: Identifient du
								véhicule, vaut -1 si la valeur est indisponible
							</li>
							<li>
								<span class="badge badge-pill badge-info"
									>string</span
								>
								<strong>reliability</strong>: Indique la
								précision des données horaires, vaut F si il
								s'agit de temps réel, vaut T si il s'agit
								d'horaires théoriques.
								<ul>
									<li>
										<i
											>Note : Tous les départs du réseau
											TAC auront une valeur T</i
										>
									</li>
								</ul>
							</li>
							<li>
								<span class="badge badge-pill badge-info"
									>string</span
								>
								<strong>characteristics</strong>: Indique
								l'accessibilité du véhicule, vaut PMR si le
								véhicule est accessible aux personnes à mobilité
								réduite, est vide dans le cas contraire
							</li>
							<li>
								<span class="badge badge-pill badge-info"
									>string</span
								>
								<strong>platform</strong>: Indique le quai de
								départ, si applicable. Autrement, la valeur vaut
								null
							</li>
							<li>
								<span class="badge badge-pill badge-danger"
									>bool</span
								>
								<strong>wifi</strong>: Indique la présence de
								wifi dans le véhicule. Vaut true ou false
							</li>
						</ul>
						<p>
							<strong>Exemple :</strong>
							<a href="https://api.tpgoffline.com/departures/MOIL"
								>/departures/MOIL</a
							><br />
							<script src="https://gist.github.com/RemyDCF/86286c90c40b751c9de5f31fc5e08e8e.js"></script>
						</p>
					</div>
					<div id="perturbations">
						<h1>Perturbations</h1>
						<p>Liste les perturbations sur le réseau tpg</p>
						<hr />
						<p>
							<span class="badge badge-success">GET</span>
							<a href="https://api.tpgoffline.com/v2/disruptions"
								>/v2/disruptions</a
							>
						</p>
						<p><strong>Entrée :</strong></p>
						<ul>
							<li>
								<strong>key</strong>: Clé d'autorisation d'accès
								à l'API tpg. Vous pouvez la demander sur
								<a href="http://data.tpg.ch">data.tpg.ch</a>
							</li>
						</ul>
						<p><strong>Sortie :</strong> Au format JSON</p>
						<ul>
							<li>
								<span class="badge badge-pill badge-info"
									>string</span
								>
								<strong>consequence</strong>: Description de la
								perturbation
							</li>
							<li>
								<span class="badge badge-pill badge-info"
									>string</span
								>
								<strong>lineCode</strong>: Ligne concernée par
								la perturbation
							</li>
							<li>
								<span class="badge badge-pill badge-info"
									>string</span
								>
								<strong>nature</strong>: Nature de la
								perturbation
							</li>
							<li>
								<span class="badge badge-pill badge-info"
									>string</span
								>
								<strong>place</strong>: Endroit concerné par la
								perturbation. Peut être vide, mais jamais égal à
								null
							</li>
							<li>
								<span class="badge badge-pill badge-warning"
									>datetime</span
								>
								<strong>timestamp</strong>: Début de la
								perturbation
							</li>
						</ul>
						<p>
							<strong>Exemple :</strong><br />
							<script src="https://gist.github.com/RemyDCF/b70943cc96169548098f2f75f0b21add.js"></script>
						</p>
					</div>
					<div id="itineraires">
						<h1>
							<span class="badge badge-warning">β</span>
							Itinéraires
						</h1>
						<p>
							Pour calculer un itinéraire entre deux arrêts sur le
							réseau tpg. Utilise l'algorithme de
							<a
								href="https://github.com/tpgoffline/TpgRoutes"
								target="_blank"
								>TpgRoutes</a
							>.
						</p>
						<hr />
						<p>
							<span class="badge badge-success">GET</span>
							<a href="https://api.tpgoffline.com/v2/routes"
								>/v2/routes</a
							>
						</p>
						<p><strong>Entrée :</strong></p>
						<ul>
							<li>
								<span class="badge badge-pill badge-info"
									>string</span
								>
								<strong>departureStop</strong>: Identifient CFF
								(à 7 chiffres) ou tpg (4 lettres) de l'arrêt de
								départ
							</li>
							<li>
								<span class="badge badge-pill badge-info"
									>string</span
								>
								<strong>arrivalStop</strong>: Identifient CFF (à
								7 chiffres) ou tpg (4 lettres) de l'arrêt
								d'arrivée
							</li>
							<li>
								<span class="badge badge-pill badge-warning"
									>datetime</span
								>
								<strong>departureTime</strong>: Date et heure de
								départ de l'itinéraire
							</li>
							<li>
								<span class="badge badge-pill badge-primary"
									>int</span
								>
								<strong>numberOfRoutes</strong>: Nombre
								d'itinéraires à retourner (entre 1 et 6)
							</li>
						</ul>
						<p><strong>Sortie :</strong></p>
						<ul>
							<li>
								<span class="badge badge-pill badge-warning"
									>datetime</span
								>
								<strong>departureTime</strong>: Heure de départ
								de l'itinéraire
							</li>
							<li>
								<span class="badge badge-pill badge-warning"
									>datetime</span
								>
								<strong>arrivalTime</strong>: Heure d'arrivée de
								l'itinéraire
							</li>
							<li>
								<span class="badge badge-pill badge-dark"
									>array</span
								>
								<strong>path</strong> : Segments de l'itinéraire
								<ul>
									<li>
										<span
											class="badge badge-pill badge-primary"
											>int</span
										>
										<strong>departureStop</strong>:
										Identifient CFF de l'arrêt de départ du
										segment
									</li>
									<li>
										<span
											class="badge badge-pill badge-warning"
											>datetime</span
										>
										<strong>departureTime</strong>: Heure de
										départ du segment
									</li>
									<li>
										<span
											class="badge badge-pill badge-primary"
											>int</span
										>
										<strong>arrivalStop</strong>:
										Identifient CFF de l'arrêt d'arrivée du
										segment
									</li>
									<li>
										<span
											class="badge badge-pill badge-warning"
											>datetime</span
										>
										<strong>arrivalTime</strong>: Heure
										d'arrivée du segment
									</li>
									<li>
										<span
											class="badge badge-pill badge-primary"
											>int</span
										>
										<strong>destinationStop</strong>:
										Identifient CFF de l'arrêt d'arrivée du
										véhicule du segment
									</li>
									<li>
										<span
											class="badge badge-pill badge-info"
											>string</span
										>
										<strong>ligne</strong>: Ligne desservie
										par le véhicule du segment
									</li>
								</ul>
							</li>
						</ul>
						<p>
							<strong>Exemple :</strong><br />
							<script src="https://gist.github.com/RemyDCF/51f14195b68b617a423b12418b470b1b.js"></script>
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
